@media (max-width: 1200px) {
    .container {
        max-width: 767px;
        margin: 0 auto;
    }
    .carousel {
        padding: 60px 0;
        &__inner {
            display: flex;
            justify-content: center;
            img {
                width: 90%;
                margin: 0 auto;
            }
        }
        .slick-prev {
            left: -9px;
        }
        .slick-next {
            right: -9px;
            left: auto;
        }
    }
}
@media (max-width: 991px) {
    .carousel {
        padding: 60px 0;
        .slick-prev {
            left: -5px;
        }
        .slick-next {
            right: -5px;
        }
        &__inner {
            display: flex;
            justify-content: center;
            img {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
        .catalog-item {
            margin: 0 30px 20px 30px;
        }
    }
    .feed  {
        &__descr {
            width: 520px;
        }
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 575px;
        margin: 0 auto;
    }
    .header__official {
        display: none;
    }
    .button {
        height: 45px;
        font-size: 14px;
    }
    .promo__wrapper {
        align-items: center;
    }
    .advantages {
        padding-bottom: 50px;
        &__subtitle {
            line-height: 18px;
            text-align: center;
        }
        &__descr2 {
            margin-top: 8px;
        }
    }
    .title__left {
        font-size: 28px;
    }
    .feed-form {
        margin-left: 30px;
    }
    .consultation__descr {
        margin-top: 40px;
        margin-left: 30px;
    }
    .carousel {
        &__inner {
            width: 80%;
        }
    }
    .feed__item {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }
    .feed__subtitle {
        text-align: center;
        margin-top: 20px;
    }
    .feed__count {
        text-align: center;
    }
    .feed__descr {
        line-height: 20px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 450px;
        margin: 0 auto;
    }
    .header__logo img {
        width: 80%;
    }
}